/*General styles*/

* {
    font-family: 'Open Sans', sans-serif;
    color: #888888;
}

/*Header*/

h3.head-text {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

hr {
    width: 30%;
}

/*FAQ Section*/

.btn-link {
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 50%;
    color: #FFA500;
}

.btn-link:hover {
    color: #888888;
}

.card-body {
    text-align: center;
}